services:
  db:
    image: diegomarcelos/jefatura-db
    volumes:
      - mysql_data:/var/lib/mysql/ #Guarda datos de forma local
    healthcheck:
      test: ["CMD-SHELL", "mysql -uroot -ppass -e 'USE comisaria_db;' || exit 1"]
      interval: 10s  
      timeout: 5s    # Tiempo máximo de espera por respuesta
      retries: 5     # Número de intentos antes de fallar
      start_period: 30s 
    networks:
      - backend
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager
    

  django:
    image: diegomarcelos/jefatura-django
    depends_on:
      - db
    command: gunicorn --bind 0.0.0.0:8000 CRUD.wsgi:application
    environment:
      MYSQL_DATABASE: comisaria_db
      MYSQL_USER: root
      MYSQL_PASSWORD: pass
      MYSQL_HOST: comisaria_db
      MYSQL_PORT: 3306
    networks:
      - backend
    deploy:
      replicas: 4
      restart_policy:
        condition: on-failure
  nginx:
    image: diegomarcelos/jefatura-nginx
    ports:
      - "80:80"
    depends_on:
      - django
    volumes:
      - static_volume:/static
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - backend

networks:
  backend:
    driver: overlay

volumes:
  mysql_data:
  static_volume:
  