{% extends 'comisaria/base.html' %}

{%block titulo %} Reportes de Casos {% endblock %}

{% block contenido %}
    {% if reportes %}
    <ul>
        
    </ul>
    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Designado</th>
                <th>tipo</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for reporte in reportes %}
            <tr>
                <td>{{ reporte.titulo }}</td>
                <td>{{ reporte.num_placa }}</td>
                <td>{{ reporte.get_tipo_display }}</td>
                <td><a href="{% url 'reporte_servicio_deta' reporte.id %}">Ver</a> | <a href="{% url 'reporte_servicio_edit' reporte.id %}">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}

    <p><a href="{% url 'reporte_servicio_crear' %}">Crear REPORTE DE SERVICIO</a></p>
{% endblock %}